# {{ansible_managed}}

[Unit]
Description=mesos slave
After=network.target
Wants=network.target

[Service]
{% if stars %}
ExecStart=/usr/sbin/mesos-slave --master={{ mesos_zookeeper_masters }} \
                                --log_dir={{ mesos_log_location }} \
                                --work_dir={{ mesos_work_dir }} \
                                --containerizers={{ mesos_containerizers }} \
                                --executor_registration_timeout={{ mesos_executor_timeout }}
{% else %}
ExecStart=/usr/bin/mesos-init-wrapper slave
{% endif %}
KillMode=process
Restart=always
RestartSec=20
TimeoutSec=300
User={{ mesos_owner }}
Group={{ mesos_group }}

[Install]
WantedBy=multi-user.target
